name: Build

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and test

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        dotnet-version: ['6.0.x' ]
        os:
          - ubuntu-latest
          # - windows-latest
          # - macOS-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: git checkout
        uses: actions/checkout@v2
        
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: |
          dotnet restore AccordProject.Concerto.sln
          dotnet restore ConcertoJsonConverter.sln
          cd AccordProject.Concerto.Validate/concerto-validate && npm ci
      - name: Build
        run: |
          dotnet build AccordProject.Concerto.sln --configuration Release --no-restore
          dotnet build ConcertoJsonConverter.sln --configuration Release --no-restore
      - name: Test
        run: |
          dotnet test AccordProject.Concerto.sln --no-restore --verbosity normal
          dotnet test ConcertoJsonConverter.sln --no-restore --verbosity normal


